# Shows the version of the config
# NOTE: DO NOT CHANGE THIS!
config-version: 1

# If set to 'true', a notification and a download link will be printed on both console and in-game when a new update is available.
# default: true
check-for-updates: true


# Messages file language
message-lang: en

game:
  # Settings of the countdown at the start of a battle
  waiting-time:
    title: true
    message: false
    seconds: 5


  # Settings of the countdown at the end of a battle
  ending-time:
    title: false
    message: true
    seconds: 10



  # Set the gamemode after the games end starts and joins
  # default: SURVIVAL
  gamemode: SURVIVAL


  # Set if in game a scoreboard is shown
  # default: true
  scoreboard: true


  # Configure the firework at the end of the game
  # default: true
  end-firework:
    enabled: true
    power: 1 # How height the fireworks fly
    count: 5 # How many fireworks should spawn per second




items:
  # Edit the play again item at the end of the battle
  # NOTE: you can disable it by settings the item to air
  play-again-item:
      material: PAPER
      displayname: '&3§lPlay Again §7(Right-Click)'
      lore:
        - '&7Right click this item,'
        - '&7to play again.'
      slot: 7


  # Edit the leave item at the end of the battle
  # NOTE: you can disable it by settings the item to air
  leave-match-item:
      material: RED_BED
      displayname: '&4§lLeave §7(Right-Click)'
      lore:
        - '&7Right click this item,'
        - '&7to get back to lobby.'
      slot: 8
  # Set the default item for the arenas in the inventory's if no item is set
  # default: GRASS_BLOCK
  default-arena-item: GRASS_BLOCK


  # Set the default item for the kits in the inventory's if no item is set
  # default: IRON_SWORD
  default-kit-item: IRON_SWORD


lists:
  # All world names where you cant duel players
  banned-worlds:
    - 'banned_wold_name_here'

  # All commands that the players cant use during a duel
  blacklisted-commands:
    - 'heal'
    - 'eheal'
    - 'essentials:heal'
    - 'essentials:eheal'
    - 'kit'
    - 'ekit'
    - 'kits'
    - 'ekits'
    - 'essentials:kit'
    - 'essentials:ekit'
    - 'essentials:kits'
    - 'essentials:ekits'
    - 'enderchest'
    - 'echest'
    - 'eechest'
    - 'eenderchest'
    - 'endersee'
    - 'eendersee'
    - 'ec'
    - 'eec'
    - 'essentials:enderchest'
    - 'essentials:echest'
    - 'essentials:eechest'
    - 'essentials:eenderchest'
    - 'essentials:endersee'
    - 'essentials:eendersee'
    - 'essentials:ec'
    - 'essentials:eec'
    - 'tpaccept'
    - 'etpaccept'
    - 'tpyes'
    - 'etpyes'
    - 'essentials:tpaccept'
    - 'essentials:etpaccept'
    - 'essentials:tpyes'
    - 'essentials:etpyes'
    - 'tpahere'
    - 'etpahere'
    - 'essentials:tpahere'
    - 'essentials:etpahere'
    - 'back'
    - 'eback'
    - 'return'
    - 'ereturn'
    - 'essentials:back'
    - 'essentials:eback'
    - 'essentials:return'
    - 'essentials:ereturn'
    - 'sethome'
    - 'esethome'
    - 'createhome'
    - 'ecreatehome'
    - 'essentials:sethome'
    - 'essentials:esethome'
    - 'essentials:createhome'
    - 'essentials:ecreatehome'
    - 'spawn'
    - 'lobby'
    - 'hub'
    - 'l'
    - 'espawn'
    - 'essentials:spawn'
    - 'essentials:espawn'
    - 'vault'
    - 'chest'
    - 'pv'
    - 'playervaults'
    - 'playervaults:vault'
    - 'playervaults:chest'
    - 'playervaults:pv'
    - 'playervaults:playervaults'

  # List of all the items that the players can use during the waiting phase
  allowed-items:
    - GOLDEN_APPLE
    - SPLASH_POTION
    - POTION
    - LINGERING_POTION
    - ENCHANTED_GOLDEN_APPLE
    - EXPERIENCE_BOTTLE
    - FISHING_ROD



layout:
  # Change whether the arena or kit icons should show the icon or the default item in the duel inventory. When enabled, the icons are displayed
  # default: true
  use-icon-items: true


  # Shows the player stats in all duels inventory's
  show-stats-on-playerhead:
    enabled: true
    type: ALL # Available types: [ALL, OPERATOR, PERMISSION, NONE] (permission can be found in the permission section)


  # Send actionbar if the player is in a queue for an arena
  # default: true
  send-actionbar-when-queue: true




permissions:
  # Use permission for '/duel' command.
  # default: false
  need-duel-command-permission: false

  # Permission for '/duel' command.
  # NOTE: This does only work if 'duel-command-permission' is enabled
  duel-command-permission: duels.duel-command


  # Use permission for '/duels' command.
  # default: true
  # NOTE: THIS SHOULD ALWAYS BE TRUE BECAUSE THEN EVERY PLAYER CAN EDIT THE WHOLE PLUGIN
  need-duels-command-permission: true

  # Permission for '/duels' command.
  # NOTE: This does only work if 'duels-command-permission' is enabled
  duels-command-permission: duels.duels-command


  # This permission shows the players stats in the inventory of the duels
  # NOTE: This permission does only works if 'show-stats-on-playerhead.types' equals to PERMISSION
  show-stats-on-playerhead-permission: duels.show-stats



stats:
  # Configure the default stats than every user will get by first joining the server.
  # default: 1000
  rating-default: 1000


messages:
  # If a player dies in the duel to a specific case, the right message will be sent in the chat.
  # NOTE: %death% -> player who died; %killer% player who killed the other (CAN ONLY BE USED IN ENTITY_ATTACK)
  deaths:
    fall: "&4%death% &7fell from a height place."
    fire: "&4%death% &7burned alive."
    lava: "&4%death% &7tried to swim in lava. :|"
    void: "&4%death% &7fell out of the real world."
    magic: "&4%death% &7was hit by crazy magic."
    poison: "&4%death% &7died from too much poison."
    wither: "&4%death% &7liked the wither too much."
    drowning: "&4%death% &7loves water, but is not a fish."
    fire_tick: "&4%death% &7burned in to much fire."
    lightning: "&4%death% &7was killed by a crazy lightning bolt."
    projectile: "&4%death% &7was shot by an arrow that was to powerful for him."
    suffocation: "&4%death% &7suffocated in a hard wall."
    entity_attack: "&4%death% &7was destroyed by &2%killer%."
    falling_block: "&4%death% &7broke his head when something fell on him."
    block_explosion: "&4%death% &7blow up."
    entity_explosion: "&4%death% &7blow up."


  # Change the chat message layout which is only shown for player in game.
  # default: true
  player-chat-message:
    enabled: true # If 'true' players can chat
    # Replacements: '%player% -> player name; %message% -> message
    layout: "&6%player% &7>> &f%message%"


  # Configure if loading messages should be sent if the plugins loads all kits or arenas
  # default: true
  send-kit-loading-message: true
  send-arena-loading-message: true
